<!DOCTYPE html>
<html lang="en">
{% load static %}
  <head>
    <title>주식종가예측 &mdash; by CHICKEN STOCK</title>
    <link rel="icon" href="{% static 'assets/images/stock1.png' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    
    
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,700" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'assets/fonts/icomoon/style.css' %}"/>

    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/css/jquery-ui.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/css/owl.theme.default.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/css/owl.theme.default.min.css' %}"/>

    <link rel="stylesheet" href="{% static 'assets/css/jquery.fancybox.min.css' %}"/>

    <link rel="stylesheet" href="{% static 'assets/css/bootstrap-datepicker.css' %}"/>

    <link rel="stylesheet" href="{% static 'assets/fonts/flaticon/font/flaticon.css' %}"/>

    <link rel="stylesheet" href="{% static 'assets/css/aos.css' %}"/>

    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}"/>
    
  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  

  <div id="overlayer"></div>
  <div class="loader">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <div class="site-wrap"  id="home-section">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
   
   
    <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

      <div class="container">
        <div class="row align-items-center">
          
          <div class="col-6 col-md-3 col-xl-4  d-block">
            <a href="index.html"><img src="{% static 'assets/images/stock.png' %}" alt="Image" class="img-fluid"></a>
<!--            <h1 class="mb-0 site-logo"><a href="index.html" class="text-black h2 mb-0">CHICKEN STOCK<span class="text-primary">.</span> </a></h1>-->
          </div>

          <div class="col-12 col-md-9 col-xl-8 main-menu">
            <nav class="site-navigation position-relative text-right" role="navigation">

              <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block ml-0 pl-0">
                <li><a href="#home-section" class="nav-link">Home</a></li>
                <li><a href="#features-section" class="nav-link">Model</a></li>
                <li><a href="#visualization-section" class="nav-link">Visualization</a></li>

                <li><a href="news.html" class="nav-link">News</a></li>


                <li class="has-children">
                  <a href="#about-section" class="nav-link">About Us</a>
                  <ul class="dropdown arrow-top">

                    <li><a href="team.html" class="nav-link">Our Team</a></li>
                    <li class="has-children">
<!--                      <a href="#">More Links</a>-->
<!--                      <ul class="dropdown">-->
<!--                        <li><a href="#">Menu One</a></li>-->
<!--                        <li><a href="#">Menu Two</a></li>-->
<!--                        <li><a href="#">Menu Three</a></li>-->
<!--                      </ul>-->
                    </li>
                  </ul>
                </li>

                <li><a href="#contact-section" class="nav-link">Contact</a></li>
              </ul>
            </nav>
          </div>


          <div class="col-6 col-md-9 d-inline-block d-lg-none ml-md-0" ><a href="#" class="site-menu-toggle js-menu-toggle text-black float-right"><span class="icon-menu h3"></span></a></div>

        </div>
      </div>
      
    </header>
    

    <div class="site-blocks-cover" style="overflow: hidden;">
      <div class="container">
        <div class="row align-items-center justify-content-center">

          <div class="col-md-12" style="position: relative;" data-aos="fade-up" data-aos-delay="200">
            
            <img src="{% static 'assets/images/undraw_investing_7u74.svg' %}" alt="Image" class="img-fluid img-absolute">

            <div class="row mb-4" data-aos="fade-up" data-aos-delay="200">
              <div class="col-lg-6 mr-auto">
                <h1>맞춤 포트폴리오 추천</h1>
                <p class="mb-5">고객님의 투자 성향에 맞는 주식 포트폴리오를 추천해 드립니다.
</p>

                <div>
                  <a href="mgetdata.html" class="btn btn-primary mr-2 mb-2">Get Started</a>
                  <a href="#features-section" class="btn btn-primary mr-2 mb-2">Learn More</a>
                </div>

              </div>
              
              
            </div>

          </div>
        </div>
      </div>
    </div>  


    <div class="site-section" id="features-section">
      <div class="container">
        <div class="row mb-5 justify-content-center text-center"  data-aos="fade-up">
          <div class="col-7 text-center  mb-5">
            <h2 class="section-title">Details</h2>
            <p class="lead">다음과 같은 자료를 토대로 미래 종가를 예측하고 맞춤 포트폴리오 추천 모델을 구축하였습니다.
</p>
          </div>
        </div>
        <div class="row align-items-stretch">
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
            
            <div class="unit-4 d-block">
              <div class="unit-4-icon mb-3">
                <span class="icon-wrap"><span class="text-primary icon-autorenew"></span></span>
              </div>
              <div>
                <h3>거시 경제 지표</h3>
                <p>NASDAQ, S&P 500, CBOE VIX, 원 달러 환율, 2년만기 미국채 선물, 10년만기 미국채 선물
</p>
                <p><a href="https://kr.investing.com/indices/nasdaq-composite-historical-data">Learn More</a></p>
              </div>
            </div>

          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="100">

            <div class="unit-4 d-block">
              <div class="unit-4-icon mb-3">
                <span class="icon-wrap"><span class="text-primary icon-store_mall_directory"></span></span>
              </div>
              <div>
                <h3>개별주 관련 지표</h3>
                <p>거래량, PER, PBR, ATR(Average True Range) 투자자별 순매수
<br><br> </p>
                <p><a href="https://kr.investing.com/indices/phlx-semiconductor-historical-data">Learn More</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up"  data-aos-delay="200">
            <div class="unit-4 d-block">
              <div class="unit-4-icon mb-3">
                <span class="icon-wrap"><span class="text-primary icon-shopping_basket"></span></span>
              </div>
              <div>
                <h3>데이터 수집 기간</h3>
                <p>2011-09-01 ~ 현재 <br>매일 데이터 업데이트
<br><br></p>
                <p><a href="https://github.com/jaywoong/mainproject">Learn More</a></p>
              </div>
            </div>
          </div>


          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
            <div class="unit-4 d-block">
              <div class="unit-4-icon mb-3">
                <span class="icon-wrap"><span class="text-primary icon-settings_backup_restore"></span></span>
              </div>
              <div>
                <h3>미래 주가 예측</h3>
                <p><br>LSTM과 fbprophet 모델을 결합하여 10일 이후의 주가를 예측
<br></p>
                <p><a href="#visualization-section">Learn More</a></p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="unit-4 d-block">
              <div class="unit-4-icon mb-3">
                <span class="icon-wrap"><span class="text-primary icon-sentiment_satisfied"></span></span>
              </div>
              <div>
                <h3>투자 성향 분석</h3>
                <p><br>설문을 통해 고객의 위험 감수 성향을 파악합니다.
<br></p>
                <p><a href="mgetdata.html">Learn More</a></p>
              </div>
            </div>

            
          </div>
          
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="unit-4 d-block">
              <div class="unit-4-icon mb-3">
                <span class="icon-wrap"><span class="text-primary icon-power"></span></span>
              </div>
              <div>
                <h3>맞춤 포트폴리오 추천
</h3>
                <p><br>고객의 위험 감수 성향에 맞는 맞춤 포트폴리오 추천</p>
                <p><a href="#">Learn More</a></p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="row mb-5 justify-content-center text-center"  data-aos="fade-up"  id="visualization-section">
          <div class="col-7 text-center  mb-5">
            <br><br><br><br>
            <h2 class="section-title">Visualization</h2>
            <p class="lead">주식 종가 예측 모델과 포트폴리오 추천 모델의 시각화 자료입니다.
</p>
          </div>
        </div>
    
    <div class="feature-big">
      <div class="container">
        <div class="row mb-5 site-section">
          <div class="col-lg-7" data-aos="fade-right">
            <img src="{% static 'assets/images/vis_1.png' %}" alt="Image" class="img-fluid">
          </div>
          <div class="col-lg-5 pl-lg-5 ml-auto mt-md-5">
            <h2 class="text-black" style="font-size:40px;">주식 종가 예측 LSTM 모델
</h2>

            
            <div class="author-box">
              <div class="d-flex mb-4">


              </div>
              <p>LSTM은 RNN의 한 종류로, 긴 의존 기간을 필요로 하는 학습을 수행할 수 있도록 개발된 분석 모델입니다. fbprophet은 Facebook에서 개발한 시계열 데이터 예측 기법입니다.
LSTM, fbprophet 두 가지 모델을 결합하여 높은 정확도를 가진 주식 종가 예측 모델을 개발하였습니다.<br><br></p>
            </div>
          </div>
        </div>

        <div class="mt-5 row mb-5 site-section ">
          <div class="col-lg-7 order-1 order-lg-2" data-aos="fade-left">
            <img src="{% static 'assets/images/vis_2.png' %}" alt="Image" class="img-fluid">
          </div>
          <div class="col-lg-5 pr-lg-5 mr-auto mt-5 order-2 order-lg-1">
            <h2 class="text-black">포트폴리오 추천 모델</h2>

            
            

            <div class="author-box" >
              <div class="d-flex mb-4">

              </div>
              <p>Sharpe Ratio를 통해 포트폴리오의 투자 위험 대비 수익률을 측정하고,
최소분산포트폴리오(Minimum Volatility Portfolio)를 활용하여
위험은 최소화하면서 초과수익을 얻을 수 있는 포트폴리오를 구성하였습니다.<br><br>
</p>
            </div>
          </div>
        </div>

        <div class="row mb-5 site-section">
          <div class="col-lg-7" data-aos="fade-right">
            <img src="{% static 'assets/images/vis_3.png' %}" alt="Image" class="img-fluid">
          </div>
          <div class="col-lg-5 pl-lg-5 ml-auto mt-md-5">
            <h2 class="text-black">포트폴리오 추천 모델</h2>

            
            <div class="author-box">
              <div class="d-flex mb-4">


              </div>
              <p>최적화 알고리즘 SLSQP(Sequential Least SQuares Programming)를 이용함으로써 최소분산포트폴리오의 투자 비중을 찾아냈습니다.<br><br>

</p>
            </div>
          </div>
        </div>


      </div>
    </div>


    <div class="site-section bg-light" id="about-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center">
            <h2 class="section-title mb-3">About Us</h2>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-lg-6" data-aos="fade-right">
            <img src="{% static 'assets/images/undraw_bookmarks_r6up.svg' %}" alt="Image" class="img-fluid">
          </div>
          <div class="col-lg-5 ml-auto pl-lg-5">
            <h2 class="text-black mb-4 h3 font-weight-bold">팀 목표</h2>
            <p class="mb-4">Github와 Zoom화상채팅, Google Docs를 사용하여 협업 하였습니다.<br>확실한 커뮤니케이션으로 프로젝트의 질을 높이기 위해서 노력하는 'CHICKEN STOCK' 팀이 되겠습니다.</p>
            <ul class="ul-check mb-5 list-unstyled success">
              <li>성장하는 Team</li>
              <li>활발한 Communication</li>
              <li>완벽한 유지보수</li>
            </ul>
            <p><a href="team.html" class="btn btn-primary">Learn More</a></p>
          </div>
        </div>

        
      </div>
    </div>



    <div class="footer py-5 text-center">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12">
            <p class="mb-0">
              <a href="https://github.com/jaywoong/mainproject_stock" class="p-3"><span class="icon-github"></span></a>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="mb-0">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- .site-wrap -->

  <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'assets/js/jquery-ui.js' %}"></script>
  <script src="{% static 'assets/js/popper.min.js' %}"></script>
  <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'assets/js/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'assets/js/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'assets/js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'assets/js/aos.js' %}"></script>
  <script src="{% static 'assets/js/jquery.fancybox.min.js' %}"></script>
  <script src="{% static 'assets/js/jquery.sticky.js' %}"></script>

  
  <script src="{% static 'assets/js/main.js' %}"></script>
  
  </body>
</html>